.text-align-center{
    text-align:center;
 }
 
 
 .margin-auto > div{
    margin:auto;
    width:50%;
    text-align:center;
 }

 /* Allows box to take up full space, ignoring padding/margin */
* {
    box-sizing: border-box;
  }
 
 
 /* Create two equal columns that floats next to each other */
 .my-column {
    float: left;
    width: 50%;
    padding: 10px; /* Can be removed. Only for demonstration */
  }

  .my-column-new {
    float: left;
    width: 20%;
    padding: 10px;/* Can be removed. Only for demonstration */
  }

  .my-column-game {
    float: left;
    width: 33%;
    padding: 10px;
  }

   /* Clear floats after the columns */
  .my-row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media all and (max-width:500px) {
    .my-column {
        width: 100%;
      }
 }

 .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
   .fa:hover {
      opacity: 0.7;
  }
   .fa-facebook {
    background: #3B5998;
    color: white;
  }
   .fa-twitter {
    background: #55ACEE;
    color: white;
  }
   .fa-youtube {
    background: #bb0000;
    color: white;
  }
   .fa-instagram {
    background: #125688;
    color: white;
  }
   .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .social-container {
    display: flex;
    justify-content: space-evenly;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px 25px;
 }

/* flexible image rules start here */

.flexible img{
    width:100%;
 }
 
 
 .flexible{
    display: flex;
    justify-content: space-evenly;
 }
 
 /* flexible image rules end here */
  